<div class="container-fluid">
    <div class="row flex-nowrap">
        <%- include('layout/sidebar') %>
            <div class="col py-3" style="height: 80vh;">
                <%- include('layout/navbar')%>
                    <!-- Body... -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Dashboard</h1>
                            </div>
                        </div>

                    </div>
                    <%- include('layout/footer')%>

            </div>
    </div>
</div>

<!--
    1. render to routes stack manage
    2. append multiple queries
    3. manages/write way during editting/adding records routing
 -->