<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light" style="height: 100vh;">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <nav class="navbar navbar-light bg-light d-flex align-items-center">
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                <span class="fs-5 d-sm-inline">TCG</span>
                <!-- <span class="fs-5 d-none d-sm-inline">Topic Chat Group</span> -->
            </a>
        </nav>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start list-group w-100"
            id="menu">

            <li class="w-100">
                <a href="/" class="px-2 nav-link px-0 align-middle">
                    <i class="fa-solid fa-gauge"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            </li>
            <li class="w-100">
                <a href="/users" class="px-2 nav-link px-0 align-middle">
                    <i class="fa-solid fa-users"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
            </li>
            <li class="w-100">
                <a href="/topics" class="px-2 nav-link px-0 align-middle">
                    <i class="fa-solid fa-question"></i> <span class="ms-1 d-none d-sm-inline">Topics</span></a>
            </li>

            <li class="w-100">
                <a href="/requests" class="px-2 nav-link px-0 align-middle">
                    <i class="fa-solid fa-question"></i> <span class="ms-1 d-none d-sm-inline">Requests</span></a>
            </li>
            <li class="w-100">
                <a href="/comments" class="px-2 nav-link px-0 align-middle">
                    <i class="fa-solid fa-comments"></i> <span class="ms-1 d-none d-sm-inline">Comments</span></a>
            </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://avatars.githubusercontent.com/u/67202568" alt="hugenerd" width="30" height="30"
                    class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">loser</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>